<a href="https://colab.research.google.com/github/saishanakar/DRDW/blob/main/Dwdm_E1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
data=pd.read_csv("/content/IMDbMovies.csv")

In [3]:
print(data)

                                                  Title  \
0                                              Napoleon
1     The Hunger Games: The Ballad of Songbirds & Sn...
2                                            The Killer
3                                                   Leo
4                                          Thanksgiving
...                                                 ...
9078                                      Over the Moon
9079                                         Young Adam
9080                         The Greatest Show on Earth
9081                                         Deep Water
9082                       Once Upon a Time in Anatolia

                                                Summary  \
0     An epic that details the checkered rise and fa...
1     Coriolanus Snow mentors and develops feelings ...
2     After a fateful near-miss, an assassin battles...
3     A 74-year-old lizard named Leo and his turtle ...
4     After a Black Friday riot ends in tragedy, a m...
...                                                 ...
9078  In this animated musical, a girl builds a rock...
9079  A young drifter working on a river barge disru...
9080  The dramatic lives of trapeze artists, a clown...
9081  A group of international passengers en route f...
9082  A group of men set out in search of a dead bod...

                                               Director  \
0                                          Ridley Scott
1                                      Francis Lawrence
2                                         David Fincher
3     David Wachtenheim,Robert Smigel,Robert Marianetti
4                                              Eli Roth
...                                                 ...
9078                              John Kahrs,Glen Keane
9079                                    David Mackenzie
9080                                   Cecil B. DeMille
9081                                       Renny Harlin
9082                                  Nuri Bilge Ceylan

                                               Writer  \
0                                        David Scarpa
1       Michael Lesslie,Michael Arndt,Suzanne Collins
2       Andrew Kevin Walker,Luc Jacamon,Alexis Nolent
3                Paul Sado,Robert Smigel,Adam Sandler
4                               Eli Roth,Jeff Rendell
...                                               ...
9078      Jennifer Yee McDevitt,Audrey Wells,Alice Wu
9079                Alexander Trocchi,David Mackenzie
9080  Theodore St. John,Fredric M. Frank,Barr√© Lyndon
9081                                     Pete Bridges
9082        Ercan Kesal,Nuri Bilge Ceylan,Ebru Ceylan

                     Main Genres Motion Picture Rating Runtime  Release Year  \
0     Action,Adventure,Biography                     R  2h 38m        2023.0
1         Action,Adventure,Drama                 PG-13  2h 37m        2023.0
2         Action,Adventure,Crime                     R  1h 58m        2023.0
3        Animation,Comedy,Family                    PG  1h 42m        2023.0
4        Horror,Mystery,Thriller                     R  1h 46m        2023.0
...                          ...                   ...     ...           ...
9078  Animation,Adventure,Comedy                    PG  1h 35m        2020.0
9079                 Crime,Drama                 NC-17  1h 38m        2003.0
9080        Drama,Family,Romance                Passed  2h 32m        1952.0
9081                    Thriller                Passed  2h 32m        1952.0
9082        Crime,Drama,Thriller             Not Rated  2h 37m        2011.0

      Rating Number of Ratings                    Budget Gross in US & Canada  \
0     6.7/10               38K                       NaN         $37,514,498
1     7.2/10               37K  $100,000,000 (estimated)        $105,043,414
2     6.8/10              117K                       NaN                  NaN
3     7.0/10               10K                       NaN                  NaN
4     7.0/10              9.1K                       NaN         $25,408,677
...      ...               ...                       ...                  ...
9078  6.3/10               24K                       NaN                  NaN
9079  6.4/10               15K    $6,400,000 (estimated)            $767,373
9080  6.5/10               16K    $4,000,000 (estimated)         $36,000,000
9081     NaN               NaN                       NaN                  NaN
9082  7.8/10               49K                       NaN            $152,408

     Gross worldwide Opening Weekend Gross in US & Canada
0       $84,968,381               $20,638,887Nov 26, 2023
1      $191,729,235               $44,607,143Nov 19, 2023
2          $421,332                                   NaN
3                NaN                                  NaN
4       $29,666,585               $10,306,272Nov 19, 2023
...              ...                                  ...
9078             NaN                                  NaN
9079     $2,561,820                   $50,278Apr 18, 2004
9080    $36,000,000                                   NaN
9081             NaN                                  NaN
9082     $2,099,472                    $10,952Jan 8, 2012

[9083 rows x 14 columns]

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9083 entries, 0 to 9082
Data columns (total 14 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   Title                                 9083 non-null   object
 1   Summary                               9083 non-null   object
 2   Director                              9052 non-null   object
 3   Writer                                8759 non-null   object
 4   Main Genres                           9076 non-null   object
 5   Motion Picture Rating                 8285 non-null   object
 6   Runtime                               8918 non-null   object
 7   Release Year                          9076 non-null   float64
 8   Rating                                8813 non-null   object
 9   Number of Ratings                     8813 non-null   object
 10  Budget                                5879 non-null   object
 11  Gross in US & Canada                  6064 non-null   object
 12  Gross worldwide                       7128 non-null   object
 13  Opening Weekend Gross in US & Canada  5695 non-null   object
dtypes: float64(1), object(13)
memory usage: 993.6+ KB

In [8]:
data.isnull().sum()

Title                                      0
Summary                                    0
Director                                  31
Writer                                   324
Main Genres                                7
Motion Picture Rating                    798
Runtime                                  165
Release Year                               7
Rating                                   270
Number of Ratings                        270
Budget                                  3204
Gross in US & Canada                    3019
Gross worldwide                         1955
Opening Weekend Gross in US & Canada    3388
dtype: int64

In [22]:
data.dtypes

Title                                    object
Summary                                  object
Director                                 object
Writer                                   object
Main Genres                              object
Motion Picture Rating                    object
Runtime                                  object
Release Year                            float64
Rating                                   object
Number of Ratings                        object
Budget                                   object
Gross in US & Canada                     object
Gross worldwide                          object
Opening Weekend Gross in US & Canada     object
dtype: object

In [24]:
import pandas as pd

# Assuming your dataset is named 'df'
columns_to_fill = ['Director', 'Writer', 'Main Genres', 'Motion Picture Rating', 'Rating']
data[columns_to_fill] = data[columns_to_fill].fillna('Unknown')

In [26]:
data.isnull().sum()

Title                      0
Summary                    0
Director                   0
Writer                     0
Main Genres                0
Motion Picture Rating      0
Runtime                  165
Release Year               7
Rating                     0
Number of Ratings        270
dtype: int64

In [25]:
# Replace missing values in 'Main Genres' column with its mode
mode_main_genres = data['Main Genres'].mode()[0]
data['Main Genres'].fillna(mode_main_genres, inplace=True)
# Dropping columns with a high number of missing values
columns_to_drop = ['Budget', 'Gross in US & Canada', 'Gross worldwide', 'Opening Weekend Gross in US & Canada']
data.drop(columns=columns_to_drop, inplace=True)

In [28]:
data.isnull().sum()

Title                      0
Summary                    0
Director                   0
Writer                     0
Main Genres                0
Motion Picture Rating      0
Runtime                  165
Release Year               7
Rating                     0
Number of Ratings        270
dtype: int64

In [32]:
columns_to_fill = ['Runtime','Release Year','Number of Ratings']
data[columns_to_fill] = data[columns_to_fill].fillna('Unknown')

In [33]:
data.isnull().sum()

Title                    0
Summary                  0
Director                 0
Writer                   0
Main Genres              0
Motion Picture Rating    0
Runtime                  0
Release Year             0
Rating                   0
Number of Ratings        0
dtype: int64